/* Gerais */
*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient( rgb(0, 0, 0), rgb(136, 48, 207));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Container */
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 600px;
    height: 500px;
}

/* Título */

.container .title{
    width: 400px;
    color: rgb(255, 255, 255);
    border-top: rgb(255, 255, 255) 1px solid;
    border-bottom: rgb(255, 255, 255) 1px solid;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top:10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* Links */
.escolha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 370px;
    gap: 40px;
    background-color: black;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
}

/* Emojis */
.escolha .emoji{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.escolha .hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 100%;
    height: 35px;
    background-image: radial-gradient( rgb(0, 0, 0), rgb(136, 48, 207));
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escolha .hover:hover{
    background-image: radial-gradient(white,rgb(85, 6, 122));
    color: rgb(0, 0, 0);
}

/* Cabeçalho */
footer{
    margin-top: 50px;
    color: white;
}