*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    background-color: rgb(100, 120, 117);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Container */
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 600px;
    flex-wrap: nowrap;
}

/* Título */
.container .title{
    width: 400px;
    color: rgb(255, 255, 255);
    border-bottom: rgb(255, 255, 255) 1px solid;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* TextArea */
.container .textA{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
}

.container .textA textarea{
    min-width: 440px;
    max-width: 440px;
    max-height: 250px;
    min-height: 250px;
    padding: 4px;
    
}

/* Quantidade */
.container .quant{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: nowrap;
}

/* Quantidade p */
.container p{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

/* Quantidade input*/
.container input{
    width: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Quantidade botão input*/
.container .but-embaralhar input{
    text-decoration: none;
    width: 250px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 8px;
    background-color: gray;
    color: white;
    border: white 1px solid;
}

.container .but-embaralhar input:hover{
    background-color: white;
    color: gray;
    border: 1px solid gray;
}

#refresh{
    background-color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
}

#refresh:hover{
    background-color: gray;
    color: white;
    border: 1px solid white;
}

.times{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.times textarea{
    height:150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.times label{
    color:white;
}

footer{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
    .container h1{
        font-size: 1.5em;
    }
    .container p {
        font-size: 16px;
    }
    .times{
        flex-direction: column;
    }
    .times textarea{
        height:50px;
        width:400px;
    }
    footer{
        width:70%;
    }
}

@media screen and (max-width: 425px) {
    .container .textA{
        width: 50%;
        justify-content: center;
    }
    .container .textA textarea {
        min-width: 100%;
    }
    .container p {
        font-size: 14px;
    }
}